.MainContainer {
  height: 100%;
  display: flex;
  gap: 30px;
}

.MainContainer > :first-child {
  width: 60%;
  height: 100%;
}

.MainContainer > :last-child {
  width: 40%;
  height: 100%;
}

@media (max-width: 768px) {
  .MainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }

  .MainContainer > :first-child {
    width: 100%;
    height: 60%;
  }

  .MainContainer > :last-child {
    width: 100%;
    height: 40%;
  }
}
