.ChatContainer {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-block: 10px;
  scrollbar-width: none;
}

.Conversation {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
