.NavbarContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  padding-inline: var(--layout-inline-space);
  display: flex;
}

.NavbarContainer li {
  list-style: none;
}

/* Selects the title */
.NavbarContainer > li:first-child {
  margin-right: auto;
}

.NavbarContainer > li:nth-child(2) {
  margin-right: 30px;
}

.NavLinks {
  font-size: 0.9rem;
  color: inherit;
  text-decoration: none;
}
