:root {
  height: 100%;

  font-family: "Lexend Deca", serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(25, 25, 25);
}

html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

/* Global Variables */

#root {
  --background-color: rgb(15, 15, 15);
  --font-color: rgb(190, 190, 190);
  --layout-inline-space: 5%;
}
