.InputBar {
  width: 100%;
  position: relative;
}

.textarea {
  background-color: transparent;
  border: 1px solid;
  color: white;
  width: 100%;
  min-height: 40px;
  max-height: 150px;
  padding: 10px;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  overflow-y: hidden;
  transition: height 1s ease;
}

.CTAbtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.CTAbtns > button {
  padding: 5px;
  background-color: rgb(50, 50, 50);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
