.ChatContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.AssistantCard {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.AssistantCard ul {
  padding-left: 20px;
}

.AssistantCard ul > li {
  list-style-type: disc;
  padding: 5px;
  margin-bottom: 5px;
}

.AssistantCard ol {
  padding-left: 20px;
}

.AssistantCard ol > li {
  list-style-type: decimal;
  padding: 5px;
  margin-bottom: 5px;
}

.UserCard {
  padding: 5px;
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
}
